twitter:
  consumer_key:        'your_consumer_key'
  consumer_secret:     'your_consumer_secret'
  access_token:        'your_oauth_token'
  access_token_secret: 'your_oauth_token_secret'
voice_api_key        'your_voice_api_key'
sox_path:            'path/to/sox'
