# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default_twitter: &default_twitter
  twitter_api_key: 'your_api_key'
  twitter_api_secret: 'your_api_secret'

development:
  secret_key_base: 14fe7e043a70b0c8431e81ae4e04f06afdfe3295e1f832e6008c7133dffb4450506e83efd163f61e2134538f6682a2ea71e014a08b5e6da8e1a79aa5e16e3a94
  <<: *default_twitter

test:
  secret_key_base: 2d2af63e00641284b3ec8ad9f5ecfc47e24b32d242520e19680d7461888fa988c6b98602b58ba0442ef8c2058f815006c0481ea6f84c7ec961bd9112852544b1
  <<: *default_twitter

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  <<: *default_twitter
